* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Inter", sans-serif;   
     display: flex;
     flex-direction: column;
     gap: 50px;
}

main {
   display: flex;
   flex-direction: column;
   gap: 50px; 
   padding: 0 20px;
}

p {
    max-width: 60ch;
    margin: 0 auto;
    line-height: 1.5;
    text-align: center;
    color: #474747;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li {
    list-style: none;
}

.navlink:hover {
    color: #555;
}


#logo a {
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 60px 20px;
}


h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

/* Main */

section {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}


/* Work */

#work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.work-link {
    font-weight: 500;
}

#work h3 {
    padding-top: 10px;
}

figure {
    max-width: 600px;
    padding: 30px;
}

figure div {
    display: flex;
    gap: 10px;
}

figure p {
    padding: 5px 0;
    text-align: left;
}

img {
    max-width: 100%;
    height: auto;
}



/* About */

#about {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

#about p {
    text-align: justify;
}


/* Contact */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact h2 {
    text-transform: capitalize;
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding: 20px 0;
}

/* Responsive styles */

@media screen and (min-width: 768px) {
    nav {
        flex-direction: row; 
        justify-content: space-between;
        width: 80%; 
        margin: 0 auto;
    }

 nav ul {
        flex-direction: row;
        gap: 30px;
    }

    .work-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .contact-links {
        flex-direction: row;
    }
}
