* {
    box-sizing: border-box;
    margin: 0;
}

body {
     font-family: "Inter", sans-serif;   
}

main {
    width: 1280px;
    margin: auto;
}

/* Headings */

h1, 
h2,
h3,
button {
    font-family: "Be Vietnam Pro", sans-serif;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #000000;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
}

.navlink {
    padding: 0 15px;
}

.navlink-contact {
    padding-left: 15px;
}

#logo a {
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
    width: 100%;
}

.header-link {
     font-weight: 500;
}

h1 {
    font-size: 96px;
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

h2, 
h3 {
    font-size: 30px;
}

p {
    color: #474747;
}


header p,
#contact p {
    padding: 20px 0 20px 0;
    line-height: 1.5;
}

header > p {
    color: #000;
    font-size: 20px;
}

/* About */

#about {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

#about p {
    padding-bottom: 50px;
    width: 500px;
    line-height: 1.5;
}

/* Work */

#work {
    display: grid;
    grid-template-columns: 1fr;
    display-template-rows: repeat(2, auto);
    grid-gap: 50px;
}


.project-grid {
   display: grid;
   grid-template-columns: repeat(2, 600px);
   grid-template-rows: repeat(2, auto);
   justify-content: center;
   align-content: center;
   grid-gap: 40px;
}

.project-container {
    justify-self: center;
    align-self-center;
    margin: 0 20px 0 20px;
}

.project-details p {
    padding: 10px 0 10px 0;
}

.project-link {
    padding-right: 20px;
    font-weight: 500;
}

/* Skills */

#skills ul {
    padding: 40px 0 40px 0;
}

#skills ul li {
    list-style: none;
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-size: 60px;
}

#contact p {
    text-align: center;
    width: 500px;
}

/* General */

section {
    display: flex;
    flex-direction: column;
    padding: 100px 0 100px 0;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

button {
    background-color: #000;
    color: #fff;
    width: 100px;
    padding: 12px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize; 
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 150px;
    font-weight: 500;
}

footer > p {
    color: #000;
}


