* {
    box-sizing: border-box;
    margin: 0;
}

body {
     font-family: "Inter", sans-serif;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}

/* Headings */

h1, 
h2,
h3,
button {
    font-family: "Be Vietnam Pro", sans-serif;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #000000;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 0 5px 0 5px;
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 50px 100px 50px;
    width: 100%;
    border: 1px solid #000;
}

h1 {
    font-size: 60px;
    text-transform: uppercase;
}

h3 {
    margin-top: 10px;
}

header p,
#about p,
#contact p {
    padding: 20px 0 20px 0;
    width: 500px;
    line-height: 1.5;
}

/* About */

#about {
    border: 1px solid #000;
}

/* Work */

.project-grid {
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-container {
    margin: 0 20px 0 20px;
}

.project-details p {
    padding: 10px 0 10px 0;
}

.project-link {
    padding-right: 20px;
    font-weight: 500;
}

/* Skills */

#skills {
    display: flex; 
}

#skills h2 {
    width: 600px;
    margin: auto;
}

#skills ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: auto;
    padding: 40px 0 40px 0;
}

#skills ul li {
    list-style: none;
}

/* Contact */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact h2 {
    font-size: 60px;
}

#contact p {
    text-align: center;
}

/* General */

section {
    display: flex;
    flex-direction: column;
    padding: 200px;
}

h2 {
    font-size: 20px;
    text-transform: uppercase;
}

h3 {
    font-size: 18px;
}

button {
    background-color: #000;
    color: #fff;
    width: 100px;
    padding: 12px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-transform: capitalize; 
    font-weight: 500;
}

.link {
    text-decoration: none;
    color: #000;
}

/* Footer */

footer {
    display: flex;
    justify-content: center;
    padding: 30px;
    margin-top: 150px;
}


