* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: "Inter", sans-serif;   
     display: flex;
     flex-direction: column;
     gap: 50px;
}

main {
   display: flex;
   flex-direction: column;
   gap: 50px; 
   padding: 0 20px;
}

.link {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


/* Navigation */

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

nav ul li {
    list-style: none;
}


#logo a {
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 700;
}


/* Header */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 60px 0;
}

header > p {
    text-align: center;
    line-height: 1.5;
}

h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    text-transform: uppercase;
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 800;
    font-style: italic;
}

p {
    color: #474747;
    line-height: 1.5;
}

/* Main */

section {
    display: flex;
    flex-direction: column;
    padding: 60px 0;
}


/* Work */

#work {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

figure {
    max-width: 600px;
    padding: 30px;
}

img {
    max-width: 100%;
    height: auto;
}

.project-grid {
   display: grid;
   grid-template-columns: repeat(2, 600px);
   grid-template-rows: repeat(2, auto);
   justify-content: center;
   align-content: center;
   grid-gap: 40px;
}

.project-container {
    justify-self: center;
    align-self-center;
    margin: 0 20px 0 20px;
}

.project-container a {
    font-weight: normal;
}

.project-details p {
    padding: 10px 0 10px 0;
}

.project-link {
    padding-right: 20px;
    font-weight: 500;
}


/* About */

#about {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 20px;
}

#about p {
    text-align: center;
}


/* Contact */

#contact {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact p {
    text-align: center;
}

.contact-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


/* Footer */

footer {
    display: flex;
    justify-content: center;
    font-weight: 500;
    padding: 20px 0;
}


